@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Staatliches);
* {
	font-family: Staatliches;
}
#header {
	width: 1000px;
	height: 120px;
	padding: 10px 0 10px 10px;
	box-sizing: border-box;
	font-size: 24pt;
	margin: 0 auto;
	background-color: #343d46;
	color: #c0c0c0;
}
#wrap {
	width: 1000px;
	height: 300px;
	padding: 0;
	box-sizing: border-box;
	margin: 10px auto;
	background-color: #565e46;
	color: #343434;
	overflow: hidden;
}
#wrap #aside {
	width: 220px;
	float: left;
	background-color: #9a9e78;
}
#wrap #content {
	width: 780px;
	float: left;
	background-color: #787856;
}
#footer {
	width: 1000px;
	height: 120px;
	padding: 10px 0 10px 20px;
	box-sizing: border-box;
	margin: 0 auto;
	background-image: url('../images/camel.png');
	background-size: contain;
	color: #efefef;
	font-weight: bold;
}