@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Staatliches);

	* {
		font-family: Staatliches;
		font-size: 9pt;
	}
	#label-design ul {
		overflow: hidden;
	}
	
	/*
	* author
	*/
	#label-design #author li {
		list-style: none;
		float: left;
		padding: 5px;
	}
	#label-design #author li:first-child {
		border-radius: 8px 0 0 8px;
		background-color: #498294;
	}
	#label-design #author li:last-child {
		border-radius: 0 8px 8px 0;
		background-color: #999999;
	}
	
	/*
	* date
	*/
	#label-design #date li {
		list-style: none;
		float: left;
		padding: 5px;
	}
	#label-design #date li:first-child {
		border-radius: 8px 0 0 8px;
		background-color: #685b49;
	}
	#label-design #date li:last-child {
		border-radius: 0 8px 8px 0;
		background-color: #86aba7;
	}